section {
  display: flex;
  align-items: center !important;
  flex-direction: column;
  margin: auto;
}
section h1 {
  margin: auto;
  text-align: center;
}
section button{
    background-color: rgb(220, 72, 72);
    color: white;
    border: transparent
}

h2{
    text-align: center;
}

#kebab {
  width: 200px;
}

.container {
	width: 100%;
}

.container h1 {
	text-align: center;
}

#runaway-container {
	position: absolute;
	width: 150px;
  text-align: center;
	margin-top: 100px;
}

#runaway {
	width: 150px;
  background-color: rgb(209, 67, 67);
  color: white;
  border: transparent;
  text-align: center;
}

